/**********TAG SELECTORS**********/
body{
    background-image: url("/images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1{
    font-size: 2.2rem;
}

h2{
    padding: 7%;
}

p{
    width: 75%;
    margin: auto;
    word-wrap: break-word;
}

button, .btn{
    padding: 4% 3%;
    margin: 7%;
    border-radius: 10%;
    background-color: #82fa02;
    max-width: 150px;
    width: 100%;
}


a{
    color: black;
    font-size: 1.2rem;
    text-decoration: none;
    padding: 2%;
}

label{
    line-height: 2;
}




/***********CLASS SELECTORS**********/

.main{
    text-align: center;
    border-radius: 2%;
    border: 1px solid black;
    margin: 2% 32%;
    background-color: #fff;
    
}

.techplayboy{
    border-radius: 100%;
    height: 20%;
    width: 20%;
    padding: 0 5% 3%;
}

.contact-me{
    margin: 5%;
}

.btn{
margin: 4%;
}

.fa-brands{
    padding: 0 3%;
}

.hide{
    display: none;
}

.table{
    margin: auto;
    text-align: center;
}

@media (max-width: 780px){
    h2{
        font-size: 65%;
    }

    h1{
        font-size: 78%;
    }

    td{
        width: 48%;
    }

    label{
        line-height: 2;
        font-size: 75%;

    }

    button{
        max-width: 80px;
    }

    .main{
        margin-top: 20%;
        padding-left: 3%;
    }

    .btn{
        max-width: 90px;
        width: 100%;
    }

    .hide{
        display: inline;
        width: 100%;
    }

    .techplayboy, .btn{
        padding-left: 0;
    }

    .break{
        display: none;
        width: 100%;
    }

    .fix-up{
        width: 80%;
        text-align: center;
    }

}

@media (max-width: 300px){
    h2{
        font-size: 37%;
    }

    h1{
        font-size: 42%;
    }

    td{
        width: 28%;
    }

    button{
        max-width: 60px;
    }

    .fix-up{
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 150px){
    h2{
        font-size: 27%;
    }

    h1{
        font-size: 32%;
    }

    td{
        width: 18%;
    }

    button{
        max-width: 55px;
    }

    a{
        font-size: 30%;
    }

    .hide{
        max-width: 30%;
    }

    .fix-up{
        margin-left: auto;
    }
}